.job-board {
  position: relative;

  &__list {
    list-style: none;
    margin: 2rem 0;
  }

  &-offer {
    position: relative;
    padding: 4rem;
    border-top: 1px solid #c7d1e3;
    font-size: 1.5rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #e3e8f2;
    }

    &:last-child {
      border-bottom: 1px solid #c7d1e3;
    }
  }
}

.job-board {
	&-filters {
		
		&__button {
			background-color: transparent;
			border: none;
			padding: 0.2rem;
			cursor: pointer;
			transition: all 0.2s;

			&--is-active {
				font-weight: bold;
			}
		}

		&__list {
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: repeat(2, 1fr);

			&-name {
				margin: 0 0 0.5rem 0;
				font-weight: bold;

				&::first-letter {
					text-transform: uppercase;
				}
			}
		}
	}
}