$primary-color: #0468DB;
$primary-color--accent: #0468dbc0;
$primary-color--disabled: #0468db46;

$text-color:#1d1f22;
$text-color--lighter: #43464E;
$text-color--accent: #ffffff;

$ui-error: #de1010;
$ui-success: #5ece7b;

$border-color: #f1f2f3;

$trans-time: 0.2s;